<h2><%= t :password %></h2>
<% if @error %>
  <div class="message errormsg"><p><%= @error %></p></div>
<% end %>
<%= form_for @user, :url => {:action => 'save_password'} do |f| %>
	<p>
		<label><%= t :password %>:</label><br />
		<%= f.password_field(:password_text, {:class => "text"}) %>
		<%= f.hidden_field(:id, :value => @user.id.to_s) %>
	</p>
	<p>
		<label><%= t :confirm_password %>:</label><br />
		<%= f.password_field(:password_text_confirmation, {:class => "text"}) %>
		<span class="note error"><%= @user.errors[:password] rescue "" %></span>
	</p>
	<p>
	  <%= submit_tag(t(:update_password), { :class => "submit", :id => @user.id }) %>
	  <%= submit_tag(t(:cancel), { :class => "submit", :id => @user.id }) %>
	</p>
<% end %>
