 <div class="row-fluid">
	<div class="span12">
		<h3 class="heading"><%= t('.new_branch')%></h3>

		<div class="row-fluid">
      <%= simple_form_for [:account, @branch], remote: true, html: { :multipart => true, class: "form-horizontal"} do |f| %>
      
				<table width="100%">
				<tr style="vertical-align:top;">
					<td>
						<%= render("account/branches/forms", :f => f) %>
					</td>

					<td width="50%" style="padding-left: 20px">
						<h4><%= t('.operating_hours')%></h4>
						<% 0.upto(6) do |i| %>

							<div class="control-group formSep">
								<div>
									<label class="checkbox inline">
								    <%= check_box_tag("openday_" + i.to_s, "1", false, { :class => "day_chk" }) %>
                    <%= Date::DAYNAMES[i] %>
                  </label>

									<div id="day_<%= i %>" style="display:none;">
										<table width="100%" border="0px" style="vertical-align:middle;">
											<tr>
												<td style="border-bottom:0px;padding:0px;margin-bottom:0px;vertical-align:top;"  width="200px"><%= t :morning %>: <input type="text" id="time_am_<%= i %>" value="8:00AM - 12:00AM" style="border:0; width:150px;" /></td>
												<td style="border-bottom:0px;padding:0px;margin-bottom:0px;vertical-align:top;" nowrap><div class="am_slider" id="am_slider_<%= i %>"></div></td>
											</tr>
											<tr>
												<td style="border-bottom:0px;padding:0px;margin-bottom:0px;vertical-align:top;"  width="200px"><%= t :afternoon %>: <input type="text" id="time_pm_<%= i %>" value="13:00PM - 23:00PM" style="border:0; width:150px;" /></td>
												<td style="border-bottom:0px;padding:0px;margin-bottom:0px;vertical-align:top;" nowrap><div class="pm_slider" id="pm_slider_<%= i %>"></div></td>
											</tr>
										</table>
										<div style="display:none;">
											<%= hidden_field_tag("start_time_am_" + i.to_s, "28800") %>
											<%= hidden_field_tag("end_time_am_" + i.to_s, "43200") %>
											<%= hidden_field_tag("start_time_pm_" + i.to_s, "46800") %>
											<%= hidden_field_tag("end_time_pm_" + i.to_s, "82800") %>
										</div>
									</div>
							  </div>
						  </div>
						<% end %>

					</td>
				</tr>
				</table>

				<div class="control-group">
					<div class="controls">
						<%= f.submit t('.save_branch'), :class => "btn btn-primary" %>
					  <%= link_to_function(t(:cancel), "Application.load_content('#{account_branches_path}');", :class => "btn") %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>

<script type="text/javascript">
$('.day_chk').click(function() {
	var $day_id = $(this).attr("id").split('_')[1];
  if ($(this).attr('checked')) {
	  $("#day_" + $day_id).slideDown();
	}
	else {
	  $("#day_" + $day_id).slideUp();
	}
});
$(document).ready(function(){

	$(".form-horizontal").validate({
		rules: {
			"branch[name]":{
				minlength: 3
			}
		},
		messages: {
			"branch[name]": {
				required: "Branch name is required."
			}
		}
	});	
	
	
	$(".am_slider").slider({
		range: true,
		min: 28800,
		max: 46800,
		step: 1800,
		values: [28800, 43200],
		slide: function( event, ui ) {
			start_h = Math.floor(ui.values[0] / 3600);
			start_m = (ui.values[0] % 3600 / 60);
			if (start_m == 0) { start_m += "0"; }
			end_h = Math.floor(ui.values[1] / 3600);
			end_m = (ui.values[1] % 3600 / 60);
			if (end_m == 0) { end_m += "0"; }
			$("#time_am_" + $(this).attr("id").split('_')[2]).val(start_h + ":" + start_m + "AM - " + end_h + ":" + end_m + "AM");
			$("#start_time_am_" + $(this).attr("id").split('_')[2]).val(ui.values[0].toString());
			$("#end_time_am_" + $(this).attr("id").split('_')[2]).val(ui.values[1].toString());
		}
	});
$(".pm_slider").slider({
		range: true,
		min: 46800,
		max: 82800,
		step: 1800,
		values: [46800, 82800],
		slide: function( event, ui ) {
			start_h = Math.floor(ui.values[0] / 3600);
			start_m = (ui.values[0] % 3600 / 60);
			if (start_m == 0) { start_m += "0"; }
			end_h = Math.floor(ui.values[1] / 3600);
			end_m = (ui.values[1] % 3600 / 60);
			if (end_m == 0) { end_m += "0"; }
			$("#time_pm_" + $(this).attr("id").split('_')[2]).val(start_h + ":" + start_m + "PM - " + end_h + ":" + end_m + "PM");
			$("#start_time_pm_" + $(this).attr("id").split('_')[2]).val(ui.values[0].toString());
			$("#end_time_pm_" + $(this).attr("id").split('_')[2]).val(ui.values[1].toString());
		}
	});
});
</script>
