<div class="row-fluid">
	<div class="span12">
		<h3 class="heading"><%= t('.company_details')%></h3>

		<div class="row-fluid">
			<div class="span8">

			  <%= form_for(@company, :remote => true, :method => :put, :html => {:multipart => true, :class => "form-horizontal" }) do |f| %>
          <fieldset>
				    <%= render("form", :f => f) %>

				    <div class="control-group">
							<div class="controls">
								<%= f.submit(t('.save_company'), {:class => "btn btn-primary"}) %>
							  <%= link_to_function("Cancel", "Application.load_content(Routes.account_companies_path())", :class => "btn") %>
							</div>
						</div>
			    </fieldset>
			  <% end %>

			</div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  $("#company_description").autosize();
</script>

